.content{
    height: 100hv;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.header{
    height: 10vh;
    background-color: #f1f1f1;
    border-radius: 7px;
    overflow: hidden;
}
.contentbody{
    display: flex;
    margin-top: 2px;
    height: calc(90vh - 2px);

}
.side{
    background-color: #f1f1f1;
    flex-basis: 20vw;
    min-width: 100px;
    border-radius: 7px;

}
.dash{
    flex-basis: calc(80vw - 6px);
    min-width: 100px;
    border-radius: 7px;
    margin-left: 4px;
    margin-right: 2px;
}
